body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #a9a9a9;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #171717;
  color: #f9b025;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}
footer {
  background-color: #171717;
  color: #f9b025;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  min-width: 99%;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin-right: 100px;
  position: absolute;
  right: 10px;
}
a {
  text-decoration: none;
}
.header-right a {
  padding: 10px;
  transition: color 0.3s;
}

.header-right a:visited {
  color: #f9b025;
}

.header-right a:focus {
  color: white;
}

.header-right a:active {
  color: white;
}

.header-right a:hover {
  color: white;
}

h1 {
  margin: 0;
  text-align: center;
}
h3 {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  justify-content: center;
  display: flex;
}

main {
  flex: 1;
  padding: 20px;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
}

.carousel-inner {
  display: flex;
  width: 300%;
  transition: transform 0.5s ease;
}

.carousel-item {
  width: 100%;
  flex-shrink: 0;
}

.carousel-item img {
  width: 100%;
  cursor: pointer;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-control.left {
  left: 10px;
}

.carousel-control.right {
  right: 10px;
}

.map-container {
  width: 100%;
  height: 450px;
  margin-block: 20px;
  margin-bottom: 60px;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1600px;
  max-height: auto;
  margin: auto;
  margin-bottom: 60px;
}

.menu-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.menu-item p {
  margin: 0;
  display: flex;
  align-items: center;
}
.menu-item h2 {
  margin: 0;
  display: flex;
  align-items: center;
  color: #f9b025;
  background-color: #000000;
  border-radius: 8px;
  padding: 5px;
  max-width: max-content;
}

.menu-item button {
  background-color: forestgreen;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  max-width: fit-content;
  max-height: 38;
  float: right;
}

.menu-item button:hover {
  background-color: green;
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-container .quantity {
  font-size: 18px;
  width: 30px;
  text-align: center;
}

.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.thank-you-container {
  text-align: center;
  margin: 50px auto;
  max-width: 600px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
}